.header {
background-image: image('background-blue-purple');
  display: flex;

}

.header li{
  display: inline;
font-size: 34px;
}

.header a {
  color: rgb(151, 46, 46);
  cursor: pointer;
  font-size: 24px;
  padding-left: 30px;
  text-decoration: none;
  list-style: none;
}

.header a:hover {
  text-decoration: underline;
}