
#Pie{
    background-color: rgba(255, 255, 255, 0.151);
}
.home a {
          color: black;
}

.thead{
          background-color: rgba(190, 190, 190, 0.541);
          font-size: 18px;
}

.tables{
          margin-left: 25px;
          margin-right: 55px;
          margin-top: 35px;
          font-size: 14px;
          
}

.presupuest-table{

          text-align: end;
          font-size: 12px;
          color: rgba(209, 189, 10, 0.76);
}
h1{
    font-size: 16px;
}
#agregar{
    font-size: 12px;
}
span{
    font-size: 12px;
}
input[type="text"]
{
    background: transparent;
    border: none;
    font-size: 18px;
    color:black;
}


@media only screen and (min-width:320px) and (max-width:480px){
    .thead{
       
        font-size: 18px;
}

.tables{
        margin-left: 5px;
        margin-right: 35px;
        margin-top: 15px;
        font-size: 14px;
        
}
input[type="text"]
{
    background: transparent;
    font-size: 12px;
    color:black;
}
button{
    height: auto;
   
}
span{
    font-size: 12px;
}
    }

th{
    align-items: flex-end;
}